.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    font-size: 0.625rem;
    font-weight: 500;
    position: absolute;
    top: -8px;
    right: -5px;
    padding: 0 3px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--primary);
}
