.wrapper {
    width: 500px;
    margin-top: 8px;
    border-radius: 8px;
    padding-top: 8px;
    max-height: min((100vh - 96px) - 60px, 760px);
    overflow: hidden auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    background: rgb(255, 255, 255);
    pointer-events: auto; // Tránh ảnh hưởng của pointer-events: none; của navbar

    h4 {
        font-size: 0.875rem;
        font-weight: 600;
        padding-left: 8px;
        color: rgba(22, 24, 35, 0.5);
    }
}
